{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Projects - Vanitha's Portfolio</title>
    <link rel="stylesheet" href="{% static 'main/style.css' %}">
</head>

<body>

<header class="header">

    <h2>Vanitha's Portfolio</h2>

    <nav class="navbar">
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'about' %}">About</a>
        <a href="{% url 'skills' %}">Skills</a>
        <a href="{% url 'projects' %}">Projects</a>
        <a href="{% url 'contact' %}">Contact Me</a>
    </nav>

</header>


<section class="page-section">

    <h1>My Projects</h1>

    <div class="projects-container">

        {% for project in projects %}

        <div class="project-box">

            <h2>{{ project.title }}</h2>

            <p>
                {{ project.description }}
            </p>

            {% if project.technologies %}
            <p>
                <strong>Technologies:</strong>
                {{ project.technologies }}
            </p>
            {% endif %}

        </div>

        {% empty %}

        <p>No projects added yet.</p>

        {% endfor %}

    </div>

</section>

</body>
</html>